.navbar {
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.wrapper {
    position: relative;

    width: 100%;
    max-width: var(--max-width);

    margin: 0 auto;
    padding: 1rem 4rem;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    margin: 0 2rem 0 0;
    padding: 1rem;
    display: inline-block;
    /* for min/max height constraints*/
    align-content: center;

    min-width: var(--min-width);
    min-height: var(--min-height);

    border-radius: var(--border-radius);
    border-color: var(--clr-grey-2);

    font-size: larger;
    font-weight: 800;
    color: var(--clr-grey-4);
    text-shadow: 0.2rem 0.2rem var(--clr-grey-1);

    cursor: pointer;
}

.logo:hover,
.logo:focus-within,
.logo:focus {
    color: var(--clr-black);
    text-shadow: 0.2rem 0.2rem var(--clr-primary-1);
}

.item {
    margin: 0 auto;

    line-height: var(--min-height);
}

@media(prefers-reduced-motion: no-preference) {
    .logo {
        transition: var(--transition);
    }
}

.btn:not(.toggle) {
    font-size: 1rem;
    margin: 0 1rem 0 1rem;
    padding: 0.2rem 1rem;
}

.btn {
    display: inline-block;
    /* for min/max height constraints*/

    min-width: var(--min-width);
    min-height: var(--min-height);

    border-radius: var(--border-radius);
    border-color: var(--clr-highlight-1);

    font-size: 1rem;
    color: var(--clr-black);

    cursor: pointer;
}

.btn:hover,
.btn:focus,
.btn:focus-within {
    color: var(--clr-highlight-1);
}

@media(prefers-reduced-motion: no-preference) {
    .btn:not(.navbar__skip) {
        transition: var(--transition);
    }
}

.toggle {
    display: inline-block;

    min-width: var(--min-width);
    min-height: var(--min-height);

    margin-left: auto;
    padding: 1rem;

    color: white;
    font-weight: 900;

    border: var(--border);
    border-radius: var(--border-radius);

    background-color: var(--clr-highlight-1);

    cursor: pointer;
}

.links {
    display: none;
}

.skip {
    position: absolute;
    top: -100px;
    left: -100px;

    list-style-type: none;
    line-height: var(--min-height);
}

.skip:hover,
.skip:focus,
.skip:focus-within {
    top: 1rem;
    left: 1rem;

    color: var(--clr-black);
    background-color: white;

    z-index: 4;
}

@media (min-width: 900px) {

    .wrapper {
        max-width: var(--max-width);

        display: grid;
        grid-template-columns: auto 1fr;
    }

    .toggle:not(.sidebar__close) {
        display: none;
    }

    .links {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .skip:hover,
    .skip:focus,
    .skip:focus-within {
        top: 2rem;
        left: 2rem;
    }

    .item {
        position: relative;

        align-self: center;

        list-style-type: none;
    }

    .subheader-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .subheader {
        margin-right: 0.2rem;

        height: 100%;

        background: transparent;

        border-color: transparent;
        border-radius: var(--border-radius);
    }

    .subheader:hover,
    .subheader:focus-within,
    .subheader:focus {
        background: transparent;

        color: var(--clr-highlight-1);
    }

    .btn.login {
        margin: auto 0;
        padding: 0 2rem;

        color: white;
        border: var(--border);

        background-color: var(--clr-highlight-1);
    }

    .login:hover,
    .login:focus,
    .login:focus-within {
        font-weight: 900;

        background-color: var(--clr-highlight-2);
    }
}