.submenu {
    padding: 1rem;

    border-radius: var(--border-radius);

    background: var(--clr-grey-1);

    transform: rotateX(90deg);
    transform-origin: top;
}

.submenu.submenu--show {
    transform: rotateX(0deg);
}

@media(prefers-reduced-motion: no-preference) {
    .submenu {
        animation: foldIn ease-in 0.4s;
    }


    /* control opacity & rotateX at the same time */
    @keyframes foldIn {
        0% {
            opacity: 0;
            transform: rotateX(90deg);
        }

        100% {
            opacity: 1;
            transform: rotateX(0deg);
        }
    }
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 1rem;
    padding: 1rem 0 1rem 0;
}

.icon {
    margin: 0 0.8rem 0 0;
}

@media (min-width: 1280px) {
    .submenu {
        position: absolute;
        top: 4rem;
        left: 0;

        min-width: 18rem;

        padding: 1rem;

        border-radius: var(--border-radius);

        box-shadow: var(--box-shadow);

        background: white;

        z-index: 3;
    }

    .title {
        margin-bottom: 1rem;

        border: none;

        text-align: left;
        font-family: inherit;
        font-weight: inherit;

        background-color: transparent;

    }

    .item {
        margin-bottom: 0.2rem;
        padding: 0 1rem 0 1rem;

        border-radius: var(--border-radius-small);
    }

    .item:hover,
    .item:focus,
    .item:focus-within {
        background-color: var(--clr-highlight-2);

        cursor: pointer;
    }

    .icon {
        margin: 0 1.2rem 0 0;
    }
}